@import "tailwindcss";
@plugin "daisyui" {
  themes: corporate, luxury;
}

@theme {

  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif;

  --font-mono: var(--font-roboto-mono), monospace;

}





@layer base {
  body {
    @apply font-sans;
  }
  
  input, textarea, select, button {
    font-family: inherit;
  }
}
